<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <include file="$(find gradsim)/launch/model_gazebo.launch"/>
  <include file="$(find gradsim)/launch/hardware_sensors.launch"/>
  <include file="$(find gradsim)/launch/ekf_localization_node.launch"/>
  <include file="$(find gradsim)/launch/nav_sat_transform.launch"/>	
 



</launch>
					
